@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css");
@import url("styles/hero.css");
@import url("styles/buttons.css");
@import url("styles/lang.css");


.myself{
    margin-left: 1rem;
    border: 10px;
    border-color: blueviolet;
    border-style: double;
    border-radius: 1%;
}