<nav style="margin-left: 10%; margin-right: 10%; border-bottom: 1px dashed black;">
  <ul>
    <li><strong></strong></li>
    
  </ul>
  <ul>
    <li data-tooltip="github.com/JuanFricke" data-placement="bottom"><a href="https://github.com/JuanFricke" class="contrast"><box-icon type='logo' name='github' ></box-icon></a></li>
    <li data-tooltip="juanpfricke@hotmail.com" data-placement="bottom"><a href="mailto:juanpfricke@hotmail.com" class="contrast"><box-icon name='envelope'></box-icon></a></li>
  </ul>
</nav>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
