<nav style="margin-left: 10%; margin-right: 10%; border-bottom: 1px dashed black;">
  <ul>
    <li><strong></strong></li>

  </ul>
  <ul>
    <i class='bx bxs-moon'></i>
    <input onclick="toggleTheme()" type="checkbox" role="switch" style="margin-left: 10px;"></input>
    <i class='bx bx-sun' ></i>
    <li data-tooltip="github.com/JuanFricke" data-placement="bottom"><a href="https://github.com/JuanFricke"
        class="contrast">GitHub</a></li><i class='bx bxl-github'></i>
    <li data-tooltip="juanpfricke@hotmail.com" data-placement="bottom"><a href="mailto:juanpfricke@hotmail.com"
        class="contrast">Email</a></li><i class='bx bx-envelope' style="padding-top: 2px"></i>
  </ul>
</nav>
